# Python
__pycache__/
*.pyc

# Virtual Environments
.venv/
backend/.venv/

# Environment Files
.env
backend/.env

# SQLite
*.db

# Node
node_modules/

# Vite
dist/

# VSCode
.vscode/

# OS Files
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/